* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: url(img/back.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 440px;
  height: 610px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.profilepic {
  width: 150px;
  border-radius: 50%;
}
.card h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px auto;
  max-width: 330px;
}

.card .links img {
  width: 36px;
  border-radius: 50%;
  margin: 10px 5px;
  transition: background 0.5s;
}

.card .links img:hover {
  background: #38b6ff;
}

.btn1 {
  text-decoration: none;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  color: #38b6ff;
  padding: 10px 30px;
  border-radius: 30px;
  margin: auto;
  transition: background 1.0s;
  width: 225px;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 30px;
}

.btn1:hover {
  background: #38b6ff;
  color: #fff;
}

.btn2 {
  text-decoration: none;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  color: #38b6ff;
  padding: 10px 30px;
  border-radius: 30px;
  margin: auto;
  transition: background 1.0s;
  width: 225px;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 45px;
}

.btn2:hover {
  background: #38b6ff;
  color: #fff;
}

#overlayer {
  width:100%;
  height:100%;  
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  z-index: 2;
  background:#fff;
}

.preloader p{
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -45px;
  width: 120px;
  height: 90px; 
  text-align: center;
  color: #000;
  font-size: 25px;
  z-index: 3;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index:3;
  border: 4px solid #38b6ff;
  top: 50%;
  left: 48%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #38b6ff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
  